@CHARSET "UTF-8";

body{
	margin:0;
	padding:0;
	width:100%;
	font: 14px Verdana,Helvetica, sans-serif;
	line-height:18px;
	color:#333333;
	background:#336699;
	
}

#wrap{
	width:95%;
	margin: 0 auto;
	background:#eaf0f5;
	padding:0px;
	-moz-box-shadow: 0 0 5px #ececec;
	-webkit-box-shadow: 0 0  5px #ececec;
	box-shadow: 0 0 5px #ececec;

}
img{
	margin:0;
	padding:0;

}

input{
	background:#ffffff;
	height:25px;
	border-radius: 5px;
	padding-left: 5px;
}
h2{
	text-size:125%;
	
	color:#555555;
	text-shadow: 0 1px 0 #454545,
               0 1px 0 #444,
               0 1px 0 #353535,
               0 1px 0 #333,
               0 1px 0 #252525,
               0 3px 1px rgba(100, 100, 100,.1),
               0 0 2px rgba(100, 100, 100,.1),
               0 1px 2px rgba(100, 100, 100,.3),
               0 1px 2px rgba(100, 100, 100,.2),
               0 2px 5px rgba(100, 100, 100,.25),
               0 5px 5px rgba(100, 100, 100,.2);*/
  
}

a{
	text-decoration:none;	
	color:#336699;	
}

a:hover{
	text-decoration:none;
	color:#666;
}


.container{
	/*width:800px;*/
	clear:both;
	margin-top:5px;
	margin-bottom:5px;
}

.left{
	float:left;
	
}

.right{
	text-align:right;
	overflow:hidden;
}

/* ---------------Raptor Header Styles--------------- */
h1
{
	/*color:#b9b9b9;
	font-size: 400%;
	text-align: center;
	vertical-align: middle;
	text-shadow: 0 1px 0 #aaa,
               0 2px 0 #999,
               0 2px 0 #888,
               0 2px 0 #777,
               0 2px 0 #666,
               0 3px 1px rgba(100, 100, 100,.1),
               0 0 2px rgba(100, 100, 100,.1),
               0 1px 2px rgba(100, 100, 100,.3),
               0 1px 2px rgba(100, 100, 100,.2),
               0 2px 5px rgba(100, 100, 100,.25),
               0 5px 5px rgba(100, 100, 100,.2);*/
    font-size: 400%;
	text-align: center;
	vertical-align: middle;
    color:#e49621;
}
#header
{
	background-image: -webkit-linear-gradient(bottom, #00091A 38%, #332870 100%);
	width: 100%;
	-webkit-box-shadow: 0px 2px 10px rgba(25, 25, 25, 0.75);
	padding: 5px;
	background:#666;
}
#HUD_date
{
	color: #b9b9b9;
	text-align: right;
}
#HUD_indentity
{
	color: #b9b9b9;
	text-align: left;
}
#HUD_navLinks
{
	text-align:center;
}

#header a
{
	color:#ffffff;
}

#header a:hover
{
	color:#b9b9b9;
}

#HUD_navLinks a
{
	font-size:125%;
	color:#ffffff;
	text-align: center;
	font-weight: bold;
}
#HUD_navLinks a:hover
{
	font-size:125%;
	color:#b9b9b9;
	text-align: center;
	font-weight: bold;
}
/* ---------------Raptor Page Styles--------------- */
.logInPanel
{
	text-align: center;
	width: 260px;
	margin: 0px auto;
	padding: 10px;
}